.translationContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;

    & > p {
        border: 2px solid green;
        border-radius: 5px;
        padding: 10px 10px;
        color: black;
        font-size: 20px;
    }

    & button {
        // all: unset;
        cursor: pointer;
        border: 1px solid grey;
        border-radius: 5px;
        min-width: 60px;
        min-height: 40px;
        padding: 10px;
        font-size: 20px;
    }

    & button:not(:last-child) {
        margin-right: 20px;
    }
}

.buttonsSection {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    & > div {
        display: flex;
    }
}

.buttonVoice {
    background-color: rgb(87, 128, 240);
    color: black;
}

.buttonCopy {
    background-color: green;
    color: black;
}